.degradado{
    
    width: 100%;
    height: 200px;
    background: linear-gradient(red, green);
    opacity: 0.5;
}
.dos{
    width: 100%;
    height: 200px;
    background: radial-gradient(red,green); 
    opacity: 0.3;
}
.tres{
    width: 100%;
    height: 200px;
    background: conic-gradient(red,green);
}